<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testing.tapstar">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/tapstar_icon"
        android:label="Tap Star"
        android:roundIcon="@mipmap/tapstar_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapStar"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true">
        <activity android:name="com.testing.tapstar.ActivityTransition" android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.testing.tapstar.ActivityHome" android:configChanges="orientation"
            android:screenOrientation="portrait" android:hardwareAccelerated="true">

        </activity>
        <activity android:name="com.testing.tapstar.ActivityGameplay" android:configChanges="orientation"
            android:screenOrientation="portrait" android:keepScreenOn="true" android:hardwareAccelerated="true">

        </activity>
        <activity android:name="com.testing.tapstar.ActivityPause" android:theme="@style/styleOverlay"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.testing.tapstar.ActivityGameOver" android:theme="@style/styleOverlay"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.testing.tapstar.ActivitySettings" android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8785133418509207~3485679558"/>

    </application>

</manifest>